.account-wrapper {
    position: absolute;
    margin-top: 30%;
    right: -10px;
    background-color: #2c2c2c;
    border: 1px solid #6a4c9c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
}

.account-wrapper::before {
    content: '';
    position: absolute;
    top: -8px;
    right: 35%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #2c2c2c;
    transition: border-bottom 0.3s ease;
}

.account {
    list-style: none;
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    position: relative;

    span {
        position: absolute;
        background: linear-gradient(
            to right,
            transparent,
            transparent,
            rgb(67, 15, 112)
        );
        border-radius: 10%;
        top: 30%;
        right: 115%;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        text-align: end;
        transition:
            visibility 0.4s linear,
            opacity 0.3s linear;
    }

    li:hover ~ span {
        visibility: visible;
        opacity: 1;
    }
}

.account-item {
    list-style-type: none;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid hsla(269, 86%, 54%, 0.6);
    transition: background-color 0.2s;
}

.account-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.account-item:hover {
    background-color: hsla(0, 0%, 50%, 0.267);
}

.account-item svg {
    -webkit-text-stroke: thin hsl(300, 100%, 25%);
    font-size: 1.7rem;
}
