.border {
    position: absolute;
    inset: 0;
    border: 2px solid rgba(255, 255, 255, 0.315);
    transition: 0.2s;
    z-index: -1;
}

.border:nth-child(1) {
    border-radius: 22% 62% 36% 27% / 33% 21% 60% 59%;
}

.border:nth-child(2) {
    border-radius: 35% 37% 78% 59% / 27% 28% 34% 33%;
}

.border:nth-child(3) {
    border-radius: 36% 20% 50% 51% / 14% 22% 40% 33%;
}
