.footer {
    background-color: black;
    color: white;
    height: 300px;
}

.gradient-border-top {
    position: relative;
    padding-top: 5px;
}

.gradient-border-top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #6a11cb, hsl(218, 81%, 21%));
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    margin-top: 3%;
}

.content .info {
    font-size: 1.1rem;
}

.content .info a {
    color: rgba(255, 255, 255, 0.58);
    transition: color 0.4s linear;
}

.content .info a:hover {
    color: aliceblue;
}

.contacts {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.contacts a {
    color: rgb(255, 255, 255);
}

.contacts .iconfr {
    color: transparent;
    stroke: rgb(177, 109, 255);
    stroke-width: 15px;
    font-size: 3.2rem;
    transition:
        stroke 0.4s linear,
        transform 0.4s linear;
}

.icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon a {
    position: relative;
    color: inherit;
}

.icon a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: rgb(145, 9, 209);
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: bottom right;
}

.icon a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.contacts .iconfr:hover {
    stroke: rgba(115, 52, 187, 0.721);
    transform: scale(1.1);
}
