.header {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
        135deg,
        rgba(57, 44, 83, 0.486),
        rgba(0, 0, 0, 0.358)
    );
    color: white;
    z-index: 99;
}

.content-start {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 33%;
    margin-left: 15px;
}

.menu {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.role {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.left-icon,
.right-icon {
    position: relative;
    display: inline-block;
    top: 2px;
    width: 15px;
    height: 5px;
    background-color: white;
    border-radius: 40px;
    transition: all 0.5s;
}

.left-icon {
    left: 7px;
    transform: rotate(45deg);
}

.right-icon {
    transform: rotate(-45deg);
}

.menu.active .left-icon,
.role.active .left-icon {
    transform: rotate(135deg);
}

.menu.active .right-icon,
.role.active .right-icon {
    transform: rotate(-135deg);
}

.roles {
    position: absolute;
    top: 15px;
    width: 9%;
    height: 160px;
    margin-top: 45px;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.5s;
}

.roles a {
    position: relative;
    top: -100%;
    left: 0;
    display: flex;
    font-size: 20px;
    background-color: white;
    color: rgb(86, 28, 86);
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 2.5px;
    z-index: 1;
    overflow: hidden;
    transition: all 0.5s;
    transition-delay: calc(60ms * var(--i));
    cursor: pointer;
}

.role.active + .roles a {
    top: 0;
}

.role.active + .roles {
    visibility: visible;
}

.nav {
    position: absolute;
    top: 15px;
    left: 0;
    width: 20%;
    height: 160px;
    margin-top: 45px;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.5s;
}

.nav a {
    position: relative;
    top: -100%;
    left: 0;
    display: flex;
    font-size: 20px;
    background-color: white;
    color: rgb(86, 28, 86);
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 2.5px;
    z-index: 1;
    overflow: hidden;
    transition: all 0.5s;
    transition-delay: calc(60ms * var(--i));
}

.menu.active + .nav a {
    top: 0;
}

.menu.active + .nav {
    visibility: visible;
}

.nav a:hover,
.roles a:hover {
    color: white;
}

.nav a span,
.roles a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 45, 121, 0.546);
    z-index: -1;
    border-radius: inherit;
    transform: rotate(160deg);
    transform-origin: right;
    transition: all 0.5s;
}

.nav a:hover span,
.roles a:hover span {
    transform: rotate(0deg);
}

.content-end {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    margin-right: 20px;
    width: 33%;
}

.icon-wrapper {
    position: relative;
    display: inline-block;
    transition: all 0.125s linear;
}

.icon-wrapper:hover {
    color: rgba(194, 194, 194, 0.765);
}

.icon-wrapper[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    padding: 5px 8px;
    background-color: #333;
    color: #fff;
    font-weight: 400;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 0.8rem;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.icon-wrapper[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.content-end a {
    color: white;
    transition: all 0.4s linear;
}

.content-end .icon-wrapper :hover {
    color: rgba(194, 194, 194, 0.765);
}

.dropdown-menu {
    position: absolute;
    top: 45px;
    right: 0;
    width: 200px;
    background-color: #2c2c2c;
    border: 1px solid #6a4c9c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    pointer-events: none;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0s 0.3s;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -8px;
    right: 10px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #2c2c2c;
    transition: border-bottom 0.3s ease;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-item:nth-child(1) {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.dropdown-item:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.dropdown-item {
    padding: 12px;
    border-bottom: 1px solid #4e3c6e;
    color: #f3f3f3;
    cursor: pointer;
    background-color: #2c2c2c;
    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: #6a4c9c;
    color: #fff;
}

.icon-wrapper[data-tooltip] {
    position: relative;
}

.icon-wrapper[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
}

.circle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(133, 40, 190);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid white;
    transform: translate(50%, 50%);
}
