.container {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.picture {
    background-image: url('/src/assets/section2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 60%;
    border-radius: 10%;
    margin-top: 5%;
    margin-left: 5%;
    border: 5px solid rgba(128, 0, 128, 0.395);
    box-shadow:
        0 8px 15px rgba(0, 0, 0, 0.4),
        0 4px 25px rgba(128, 0, 128, 0.5),
        inset 0 3px 6px rgba(128, 0, 128, 0.3);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    cursor: pointer;
}

.picture:hover {
    transform: scale(1.05);
    box-shadow:
        0 12px 25px rgba(0, 0, 0, 0.5),
        0 6px 130px rgba(138, 43, 226, 0.6);
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 60vh;
}

.content h1 {
    color: white;
    text-shadow:
        2px 2px 5px rgba(106, 13, 173, 0.7),
        -2px -2px 5px rgba(160, 32, 240, 0.6),
        0px 0px 15px rgba(75, 0, 130, 0.5);
}
