.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0.327) 1%,
        hsl(0, 0%, 0%) 60%,
        hsla(300, 58%, 23%, 0.585) 100%
    );
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    margin: 4% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    z-index: 80;
}

.search {
    position: relative;
    padding: 20px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 30px;
}

.models {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    place-content: center;
    gap: 100px 70px;
    padding: 20px;
}

.models img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.hidden {
    display: none;
}

.pagination {
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
}
