.main-info {
    color: white;
    position: absolute;
    left: 2%;
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 2%;
    z-index: 50;
}

.main-info h1 {
    width: 100%;
    font-size: 3.5rem;
    text-align: center;
    color: #ffffff;
    text-shadow:
        3px 3px 5px rgba(75, 0, 130, 0.5),
        -3px -3px 5px rgba(138, 43, 226, 0.4),
        0px 0px 8px rgba(138, 43, 226, 0.8),
        0px 0px 20px rgba(138, 43, 226, 0.6);
}

.main-info h2 {
    text-shadow:
        2px 2px 4px rgba(120, 120, 120, 0.5),
        4px 4px 8px rgba(0, 0, 0, 0.555);
}

.main-info p {
    line-height: 1.8;
    font-size: 1.1rem;
    color: hsl(0, 0%, 73%);
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 20px;
    text-indent: 1em;
    letter-spacing: 0.4px;
    text-align: center;
}

.main-info div {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.or {
    font-style: italic;
    margin-bottom: 5px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.quote {
    font-size: 1.5rem;
    color: hsl(0, 0%, 73%);
    font-style: italic;
    position: relative;
}

.quote::before {
    content: '“';
    font-size: 2rem;
    color: hsla(290, 70%, 70%, 0.61);
    position: absolute;
    left: -15px;
    top: -10px;
}

.quote::after {
    content: '”';
    font-size: 2rem;
    color: hsla(290, 70%, 70%, 0.61);
    position: absolute;
    right: -15px;
    bottom: -10px;
}

.video {
    z-index: 99;
    position: absolute;
    top: 0;
}
