.shipment {
    position: relative;
    padding: 0.5% 1%;
    background-color: rgba(100, 70, 181, 0.308);
    border: 2px solid rgba(148, 33, 255, 0.564);
    color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 80px;
    transition:
        transform 1s ease,
        box-shadow 0.3s ease;
}

.shipment:hover {
    transform: scale(1.05);
    box-shadow:
        0px 0px 10px rgba(148, 33, 255, 0.6),
        0px 0px 20px rgba(148, 33, 255, 0.4),
        0px 0px 30px rgba(148, 33, 255, 0.2);
    background-color: rgba(148, 33, 255, 0.4);
}

.shipment .id {
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.1rem;
}

.id span {
    color: rgb(219, 170, 230);
}

.shipment p {
    margin-left: 30px;
    font-weight: bold;
}

.shipment p span {
    color: rgb(202, 202, 202);
}

.info p:first-child {
    color: gray;
}
