.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #5c1e7b27;
  box-shadow: 2px 2px 20px black;
}

.pageBtn {
  width: 50px;
  height: 50px;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(228, 157, 245, 0.278);
  color: rgba(255, 255, 255, 0.592);
  transition: .5s linear;
}

.pageBtn:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
  border-radius: 50%;
}

.pageBtn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
  border-radius: 50%;
}

.pageBtn:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.pageBtn:hover:before {
  border-color: #550fb7;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
  border-radius: 50%;
}

.pageBtn:hover:after {
  border-color: #550fb7;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
  border-radius: 50%;
}

.pageBtn.active {
  background-color: #a468c27d;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.prevBtn:disabled,
.nextBtn:disabled {
  cursor: not-allowed;
}

.prevBtn, .nextBtn {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.prevBtn::before,
.prevBtn::after,
.nextBtn::before,
.nextBtn::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.prevBtn::before,
.nextBtn::before {
  border: 4px solid #d687ae8d;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.prevBtn::after,
.nextBtn::after {
  border: 4px solid #e796f0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.prevBtn:hover::before,
.prevBtn:focus::before,
.nextBtn:hover::before,
.nextBtn:focus::before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.prevBtn:hover::after,
.prevBtn:focus::after,
.nextBtn:hover::after,
.nextBtn:focus::after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.element {
  display: block;
  display: flex;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
}

.element svg, .icon svg {
  color: white;
  font-size: 1.1rem;
  -webkit-text-stroke: thin purple;
}

.prevBtn:hover .button-box,
.prevBtn:focus .button-box,
.nextBtn:hover .button-box,
.nextBtn:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}
