.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.pageBtn {
    width: 50px;
    aspect-ratio: 1;
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
    background: transparent;
    font-weight: 900;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 50%;
    border: 2px solid hsla(288, 81%, 79%, 0.278);
    color: hsla(0, 0%, 100%, 0.592);
    transition: 0.5s linear;
    cursor: pointer;
}

.pageBtn::before, .pageBtn::after {
    position: absolute;
    content: '';
    left: 0;
    height: 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 50%;
}

.pageBtn::before {
    bottom: 0;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    transform: translateX(100%);
}

.pageBtn::after {
    top: 0;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    transform: translateX(-100%);
}

.pageBtn:hover:before, .pageBtn:hover:after {
    border-color: hsl(265, 85%, 39%);
    height: 100%;
    transform: translateX(0);
    transition:
        0.3s transform linear,
        0.3s height linear 0.3s;
    border-radius: 50%;
}

.pageBtn.active {
    background-color: hsla(280, 42%, 58%, 0.49);
    color: hsl(0, 0%, 100%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.prevBtn:disabled,
.nextBtn:disabled {
    cursor: not-allowed;
}

.prevBtn,
.nextBtn {
    display: block;
    position: relative;
    width: 60px;
    aspect-ratio: 1;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.prevBtn::before,
.prevBtn::after,
.nextBtn::before,
.nextBtn::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    inset: 0.5em;
}

.prevBtn::before,
.nextBtn::before {
    border: 4px solid hsla(330, 49%, 68%, 0.553);
    transition:
        opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.prevBtn::after,
.nextBtn::after {
    border: 4px solid hsl(294, 75%, 76%);
    transform: scale(1.3);
    transition:
        opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
}

.prevBtn:hover::before,
.prevBtn:focus::before,
.nextBtn:hover::before,
.nextBtn:focus::before {
    opacity: 0;
    transform: scale(0.7);
    transition:
        opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.prevBtn:hover::after,
.prevBtn:focus::after,
.nextBtn:hover::after,
.nextBtn:focus::after {
    opacity: 1;
    transform: scale(1);
    transition:
        opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.element {
    display: block;
    display: flex;
    width: 21px;
    height: 20px;
    margin: 19px;
    transform: rotate(180deg);
}

.icon {
    display: block;
    width: 20px;
    height: 20px;
    margin: 19px;
    transform: rotate(180deg);
}

.element svg,
.icon svg {
    color: white;
    font-size: 1.1rem;
    -webkit-text-stroke: thin purple;
}

.prevBtn:hover .button-box,
.prevBtn:focus .button-box,
.nextBtn:hover .button-box,
.nextBtn:focus .button-box {
    transition: 0.4s;
    transform: translateX(-58px);
}
