.card-container a {
    text-decoration: none;
}

.card-container .card-icon {
    margin-inline: auto;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
    justify-content: center;
    gap: 2rem;
}

.card-article {
    position: relative;
    text-align: center;
    height: 150%;
    background-color: hsl(170, 12%, 8%);
    border: 2px solid hsl(170, 4%, 60%);
    padding: 3rem 1.5rem 1.5rem;
    display: grid;
    row-gap: 1rem;
    overflow: hidden;
    transition: background-color 0.6s;
}

.card-icon {
    align-self: center;
    scale: 3.5;
    filter: drop-shadow(0 0.5rem 1.5rem hsla(170, 12%, 8%, 0.1));
    transition:
        transform 0.4s,
        opacity 0.4s;
}

.card-data {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition:
        transform 0.4s,
        opacity 0.4s;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 400;
}

.card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.3);
    z-index: -1;
    transition: transform 0.4s;
    background-size: cover;
}

.card-price {
    font-weight: bold;
}

.card-button {
    background-color: hsl(170, 12%, 98%);
    color: black;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    justify-self: center;
    box-shadow: 0 0.5rem 1.5rem hsla(170, 12%, 8%, 0.1);
    position: absolute;
    bottom: -1.5rem;
    opacity: 0;
    pointer-events: none;
    transition:
        transform 0.4s,
        opacity 0.4s;
}

.card-button i {
    font-size: 1.15rem;
    transition: transform 0.4s;
}

.description {
    margin-top: 40%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0 1rem;
    background-color: hsl(222, 28%, 15%);
    color: #ffffff;
    border-top: 1px solid #000000;
    border-radius: 5px;
    transition:
        max-height 0.4s ease,
        opacity 0.4s ease,
        padding 0.4s ease;
    font-size: 0.9rem;
    line-height: 1.4;
}

.description .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description .list i {
    color: hsl(258, 100%, 76%);
}

.card-container:hover .description {
    max-height: 10rem;
    opacity: 1;
    padding: 1rem;
}

.card-button:hover i {
    transform: translateX(0.5rem);
}

.card-article:hover .card-icon {
    transform: translateY(-1.5rem);
}

.card-article:hover .card-data {
    transform: translateY(-4.5rem);
    opacity: 0;
}

.card-article:hover {
    background-color: transparent;
}

.card-article:hover .card-bg {
    transform: scale(1);
}

.card-article:hover .card-button {
    transform: translateY(-3.75rem);
    opacity: 1;
    pointer-events: initial;
    transition: background-color 0.5s linear;
}

.card-article:hover .card-button:hover {
    background-color: hsl(0, 0%, 75%);
}

.card-article:hover .card-icon {
    opacity: 0;
}
