.searchbar {
    position: relative;
    height: 34px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: rgb(0, 0, 0);
    border: 2px solid rgba(128, 0, 128, 0.752);
    border-radius: 15px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: all 0.8s ease;
    width: 30px;
}

.searchbar input {
    width: 0;
    outline: none;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    transition: width 0.8s ease;
    background: transparent;
}

.searchbar.covered {
    width: 350px;
}

.searchbar.covered input {
    width: 300px;
}

.searchbar a svg {
    color: purple;
    font-size: 20px;
    transition: all 0.4s linear;
}

.searchbar.covered a svg {
    margin-left: 15px;
}
