.shipment {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 3rem;
    gap: 2rem;
}

.form h1 {
    color: #fff;
    text-shadow: none;
    transition:
        text-shadow 0.3s linear,
        color 0.3s linear;
}

.form:hover h1 {
    color: rgba(255, 255, 255, 0.9);
    text-shadow:
        0 0 10px rgba(138, 43, 226, 0.8),
        0 0 20px rgba(138, 43, 226, 0.6),
        0 0 30px rgba(186, 85, 211, 0.7),
        0 0 40px rgba(186, 85, 211, 0.5);
    transition: text-shadow 0.3s linear;
}

.form input[type='text'],
.form input[type='number'],
.form input[type='email'],
.form select {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    color: white;
    background-color: black;
    border: 2px solid #dddddd81;
    border-radius: 6px;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.form input[type='text']:focus,
.form input[type='password']:focus {
    border-color: hsl(272, 100%, 52%);
    box-shadow: 0px 0px 5px hsla(0, 0%, 100%, 0.562);
}

.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.form-field a {
    align-self: flex-start;
    margin-left: 10px;
    color: white;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.form-field a:hover {
    color: #aa76d797;
}

.form-field span {
    font-size: 0.8rem;
}

.form p a:first-child {
    color: rgba(225, 116, 255, 0.813);
    position: relative;
    transition: color 0.2s linear;
}

.form p a:first-child:hover {
    color: rgba(225, 116, 255, 0.358);
}

.back {
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    z-index: 90;
    transition:
        scale 0.3s linear,
        color 0.3s linear;
    margin-top: 5px;
    color: hsl(60, 56%, 91%);
}

.back:hover {
    color: hsla(0, 0%, 100%, 0.635);
}

.back:active {
    color: hsla(272, 100%, 52%, 0.489);
}
