.container {
    position: relative;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    overflow: hidden;
}

.container h1 {
    text-shadow:
        3px 3px 5px rgba(75, 0, 130, 0.5),
        -3px -3px 5px rgba(138, 43, 226, 0.4),
        0px 0px 8px rgba(138, 43, 226, 0.8),
        0px 0px 20px rgba(138, 43, 226, 0.6);
    color: white;
    margin-left: 10%;
    font-size: 2.3rem;
}

.purchases {
    position: relative;
    margin-left: 10%;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    max-height: 70%;
    padding-right: 10px;
    scrollbar-width: thin;
    scrollbar-color: #aaa transparent;
    scroll-behavior: smooth;
}

.purchases::-webkit-scrollbar {
    width: 8px;
}

.purchases::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.purchases > * {
    flex: 0 0 auto;
}

.options {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 30%;
    padding: 2rem 1.5rem;
    background: linear-gradient(to bottom, hsl(300, 88%, 10%), hsl(0, 0%, 0%));
    color: white;
    border: 2px solid hsl(297, 14%, 31%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    box-shadow: 0 3px 20px hsla(0, 0%, 0%, 0.8);
}

.cards {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.cards svg {
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
}
