.purchase {
    position: relative;
    width: 80%;
    height: 40%;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    background-color: #230e38;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.purchase .bin {
    position: absolute;
    top: 12%;
    right: 10%;
    font-size: 1.2rem;
    color: rgba(214, 73, 113, 0.96);
    cursor: pointer;
}

.purchase .price {
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-weight: bold;
}

.purchase .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    right: 0.125rem;
    bottom: 0.125rem;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 60px;
    color: white;
    z-index: 1;
    opacity: 0.9;
    border-radius: 1rem;
    background-color: #1d121d;
}

.content .head {
    margin: 0 0 0 30px;
}

.head h2 span {
    font-size: x-large;
}

.blur {
    position: absolute;
    width: 38rem;
    height: 12rem;
    background-color: white;
    filter: blur(50px);
    top: -50%;
    left: -50%;
}

.content img {
    width: 150px;
    height: 150px;
    margin: 0 0 20px 20px;
    border-radius: 20%;
    border: 2px solid rgba(255, 255, 255, 0.555);
}

.quantity {
    display: flex;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.305);
    color: rgb(255, 255, 255);
    width: 65px;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 20px;
}

.quantity i {
    cursor: pointer;
    color: rgb(213, 177, 235);
}

.data .price {
    font-size: 1.3rem;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.479);
}

.btn {
    position: absolute;
    bottom: 35%;
    right: 7%;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #794587;
    color: ghostwhite;
}

.btn span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.btn:hover span {
    color: rgba(255, 255, 255, 0.752);
}

.btn::before,
.btn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btn::before {
    content: '';
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btn:hover::before {
    transform: translate3d(100%, 0, 0);
}
