.container {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1 {
    color: white;
    text-shadow:
        2px 2px 5px hsla(275, 86%, 36%, 0.7),
        -2px -2px 5px hsla(277, 87%, 53%, 0.6),
        0px 0px 15px hsla(275, 100%, 25%, 0.5);
}

.container h3 {
    width: 80%;
    text-align: center;
    text-shadow:
        3px 3px 0px hsl(0, 0%, 0%),
        -1px -1px 0px hsl(0, 0%, 0%),
        1px 1px 2px hsla(0, 0%, 0%, 0.7);
}

.form {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 1rem;
}

.form input[type='email'] {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    border: 2px solid hsla(0, 0%, 87%, 0.506);
    border-radius: 10px;
    outline: none;
    box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.1);
    transition: border-color 0.3s ease;
}

.form input[type='email']:focus {
    border-color: hsl(272, 100%, 52%);
    box-shadow: 0px 0px 5px hsla(0, 0%, 100%, 0.562);
}

.form-field {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form img {
    width: 50px;
    aspect-ratio: 1;
}

.submit a {
    background: linear-gradient(45deg, hsl(269, 85%, 43%), hsl(276, 71%, 21%));
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submit a:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px hsla(0, 0%, 0%, 0.3);
    background: linear-gradient(45deg, hsl(304, 76%, 46%), hsl(269, 85%, 43%));
}

.submit a:active {
    transform: translateY(1px);
    box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.2);
}

.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
}

.submit p {
    color: hsla(120, 52%, 55%, 0.63);
}

.form .links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 1.2rem;
}

.form .links a {
    color: hsl(33, 100%, 88%);
}

.form .links a:hover {
    color: hsl(0, 0%, 100%);
}

.transitionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition:
        opacity 0.3s ease,
        max-height 0.3s ease;
}

.transitionContainer.show {
    opacity: 1;
    max-height: 100px;
}
