.checkbox {
    width: 85%;
    display: flex;
    justify-content: center;
}

.checkbox input {
    display: none;
}

.checkbox label {
    position: relative;
    width: 1.2em;
    aspect-ratio: 1;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 3px;
    cursor: pointer;
    display: block;
    transition: border 0.3s ease;
}

.checkbox label::after {
    content: '';
    position: absolute;
    left: 35%;
    top: 10%;
    width: 5px;
    height: 10px;
    border-right: 2px solid hsl(0, 0%, 100%);
    border-bottom: 2px solid hsl(0, 0%, 100%);
    opacity: 0;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
    transform: rotate(45deg) scale(0, 0);
}

.checkbox input:checked ~ label {
    background-color: #121212;
    border: 1px solid hsl(300, 42%, 65%);
}

.checkbox input:checked ~ label::after {
    opacity: 1;
    transform: rotate(45deg) scale(1, 1);
}

.checkbox label span {
    position: absolute;
    font-size: 1.05rem;
    width: 200px;
    left: calc(100% + 10px);
}
