.menu {
    position: relative;
    width: 20%;
    z-index: 50;
}

.menu .select-btn {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    border: 2px solid hsla(300, 100%, 25%, 0.752);
    border-radius: 15px;
    box-shadow: 0 0 10px hsla(300, 100%, 25%, 0.185);
    cursor: pointer;
}

.menu .category,
.menu .sort {
    margin-left: 5%;
    font-size: 1rem;
    font-weight: 400;
    text-shadow:
        1px 1px 2px hsl(0, 0%, 100%),
        2px 2px 1px hsl(300, 100%, 25%);
}

.select-btn svg {
    font-size: 15px;
    margin-right: 10px;
    transition: 1s;
}

.select-btn.active svg {
    transform: rotate(180deg);
}

.menu .list {
    position: absolute;
    width: 90%;
    right: 7%;
    transform: translateY(-5px);
}

.list .option {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    border-right: 2px solid hsl(300, 100%, 25%);
    border-left: 2px solid hsl(300, 100%, 25%);
    border-bottom: 2px dashed hsla(288, 81%, 65%, 0.371);
    padding: 0.4em 0.3em;
    cursor: pointer;
    opacity: 0;
    transform-origin: top;
    transform: scale(0) translateY(-65px);
    margin-bottom: -40px;
    transition:
        background-color 1.3s,
        opacity 0.5s ease-in-out,
        transform 0.4s ease-in-out,
        margin-bottom 0.3s ease-in-out;
    transition-delay: calc(0.1s * (var(--i)));
}

.select-btn.active ~ .list .option {
    transition:
        opacity 0.6s ease-in-out,
        transform 0.5s ease-in-out,
        margin-bottom 0.2s ease-in-out;
    transition-delay: calc(0.1s * (var(--i)));
    transform: scale(1) translateY(0);
    opacity: 1;
    margin-bottom: 0;
    background-color: hsl(0, 0%, 0%);
}

.select-btn.active ~ .list .option:hover {
    background-color: hsl(277, 61%, 21%);
}

.list .option:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.list .option:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: none;
}

.option svg {
    font-size: 20px;
    margin: 10px;
    width: 30px;
    -webkit-text-stroke: thin hsl(0, 0%, 0%);
}

.option .name {
    font-size: 20px;
    color: hsl(0, 0%, 73%);
}

.arrows {
    width: 5%;
    height: 95%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border: 2px solid rgba(128, 0, 128, 0.752);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrows svg {
    font-size: 1.3rem;
    color: rgb(128, 0, 128);
    transition: color 0.4s linear;
}

.tooltip {
    position: relative;
    display: inline-block;
    text-align: center;
}

.grey {
    color: hsl(0, 0%, 50%) (169, 169, 169, 0.485);
    opacity: 0.5;
    cursor: default;
    cursor: not-allowed;
}
