.gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0.327) 1%,
        hsla(0, 0%, 13%, 0.352) 60%,
        hsla(300, 58%, 23%, 0.585) 100%
    );
    color: white;
    overflow: hidden;
    padding: 4em 2em;
    gap: 2em;
    z-index: 80;
}

.toolbar {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    gap: 30px;
}

.models {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px 70px;
    padding: 20px;
}

.models > * {
    flex: 0 0 calc((100% - 140px) / 3);
}

.empty {
    min-height: 60dvh;
    display: flex;
    align-items: center;
    text-shadow:
        3px 3px 5px rgba(75, 0, 130, 0.5),
        -3px -3px 5px rgba(138, 43, 226, 0.4),
        0px 0px 8px rgba(138, 43, 226, 0.8),
        0px 0px 20px rgba(138, 43, 226, 0.6);
    color: white;
    font-size: 2rem;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
