.purchase {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: hsla(267, 42%, 10%, 0.79);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    gap: 1rem;
    position: relative;
}

.content {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: hsl(300, 23%, 9%);
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.content .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 30%;
}

.head h2 span {
    font-size: x-large;
}

.content img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20%;
    object-fit: cover;
    object-position: center;
    border: 5px solid hsla(259, 59%, 70%, 0.371);
}

.data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

.data h2,
.data p {
    margin: 0;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.305);
    color: white;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1.2rem;
}

.quantity i {
    cursor: pointer;
    color: rgb(213, 177, 235);
}

.number {
    min-width: 20px;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 20px;
}

.btn {
    background: hsl(287, 32%, 40%);
    color: hsl(240, 100%, 99%);
    padding: 0.9rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: background 0.4s;
    width: fit-content;
}

.btn span {
    position: relative;
    z-index: 1;
    transition: color 0.4s;
}

.btn:hover span {
    color: hsla(0, 0%, 100%, 0.752);
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
    background: black;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    z-index: 0;
}

.btn:hover::before {
    transform: translate3d(100%, 0, 0);
}

.bin-btn {
    background: hsl(350, 70%, 45%);
    color: white;
}

.bin-btn::before {
    background: hsla(0, 0%, 80%, 0.262);
}

.blur {
    position: absolute;
    width: 10%;
    height: 100%;
    background: hsl(259, 65%, 47%);
    filter: blur(100px);
    top: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
}
