.invalid {
    border: 1px solid #ff4d4d;
    background-color: #ffe6e6;
    color: black;
}

.error {
    position: absolute;
    color: #ff4d4d;
    font-size: 0.875rem;
    margin-top: 75px;
    display: block;
}

.password-wrapper {
    position: relative;
    width: 100%;
    margin-right: 25px;
}

.eye {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 10px;
}
